
name: Build 4A Gigabit Tight 16MB

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev \
        python3-distutils rsync unzip zlib1g-dev file wget

    - name: Clone OpenWrt 24.10.5
      run: |
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        git checkout v24.10.5

    - name: Fix feeds
      run: |
        cd openwrt
        rm -f feeds.conf
        cp feeds.conf.default feeds.conf
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Add Podkop package
      run: |
        cd openwrt/package
        git clone https://github.com/itdoginfo/podkop.git luci-app-podkop

    - name: Create .config
      run: |
        cd openwrt
        cat << "EOF" > .config
        CONFIG_TARGET_ramips=y
        CONFIG_TARGET_ramips_mt7621=y
        CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-4a-gigabit=y

        CONFIG_TARGET_ROOTFS_SQUASHFS=y
        CONFIG_TARGET_ROOTFS_EXT4FS=n
        CONFIG_TARGET_INITRAMFS=n
        CONFIG_TARGET_IMAGES_GZIP=y

        CONFIG_PACKAGE_luci=y
        CONFIG_PACKAGE_luci-base=y
        CONFIG_PACKAGE_luci-mod-admin-full=y
        CONFIG_PACKAGE_luci-theme-bootstrap=y
        CONFIG_PACKAGE_rpcd=y
        CONFIG_PACKAGE_uhttpd=y

        CONFIG_PACKAGE_luci-app-podkop=y

        CONFIG_PACKAGE_sing-box=y
        CONFIG_SINGBOX_WITH_QUIC=n
        CONFIG_SINGBOX_WITH_UTLS=n
        CONFIG_SINGBOX_WITH_GRPC=n
        CONFIG_SINGBOX_WITH_ECH=n
        CONFIG_SINGBOX_WITH_WIREGUARD=n

        CONFIG_PACKAGE_kmod-wireguard=y
        CONFIG_PACKAGE_wireguard-tools=y
        CONFIG_PACKAGE_luci-proto-wireguard=y

        CONFIG_IPV6=n
        CONFIG_PACKAGE_opkg=n
        CONFIG_PACKAGE_ppp=n
        CONFIG_PACKAGE_odhcpd=n
        CONFIG_PACKAGE_dnsmasq-full=n
        CONFIG_PACKAGE_kmod-usb2=n
        CONFIG_PACKAGE_kmod-usb3=n
        CONFIG_PACKAGE_wpad-openssl=n
        CONFIG_PACKAGE_wpad-basic-mbedtls=y

        CONFIG_USE_MKLIBS=y
        CONFIG_USE_STRIP=y
        EOF

        make defconfig

    - name: Download packages
      run: |
        cd openwrt
        make download -j8

    - name: Build firmware
      run: |
        cd openwrt
        make -j$(nproc)

    - name: Show sysupgrade size
      run: |
        ls -lh openwrt/bin/targets/ramips/mt7621/*sysupgrade.bin || true

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-4a-gigabit-tight
        path: openwrt/bin/targets/ramips/mt7621/
