name: Build OpenWrt Xiaomi 4A Full Firmware

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential clang flex bison g++ gawk \
          gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev \
          python3 rsync unzip zlib1g-dev file wget zstd

    - name: Download SDK
      run: |
        wget https://downloads.openwrt.org/releases/24.10.5/targets/ramips/mt7621/openwrt-sdk-24.10.5-ramips-mt7621_gcc-13.3.0_musl.Linux-x86_64.tar.zst
        tar --zstd -xf openwrt-sdk-24.10.5-ramips-mt7621_gcc-13.3.0_musl.Linux-x86_64.tar.zst
        rm openwrt-sdk-24.10.5-ramips-mt7621_gcc-13.3.0_musl.Linux-x86_64.tar.zst

    - name: Clone AmneziaWG
      run: |
        git clone https://github.com/Slava-Shchipunov/awg-openwrt.git

    - name: Inject package into SDK
      run: |
        cp -r awg-openwrt/* openwrt-sdk-24.10.5-ramips-mt7621*/package/

    - name: Build IPK
      run: |
        cd openwrt-sdk-24.10.5-ramips-mt7621_gcc-13.3.0_musl.Linux-x86_64
    
        sed -i 's|https://git.openwrt.org/openwrt/openwrt.git|https://github.com/openwrt/openwrt.git|g' feeds.conf.default
        sed -i 's|https://git.openwrt.org/feed/packages.git|https://github.com/openwrt/packages.git|g' feeds.conf.default
        sed -i 's|https://git.openwrt.org/project/luci.git|https://github.com/openwrt/luci.git|g' feeds.conf.default
        sed -i 's|https://git.openwrt.org/feed/routing.git|https://github.com/openwrt/routing.git|g' feeds.conf.default
        sed -i 's|https://git.openwrt.org/feed/telephony.git|https://github.com/openwrt/telephony.git|g' feeds.conf.d
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        make defconfig
        make package/awg-openwrt/compile V=s

    - name: Download Image Builder
      run: |
        wget https://downloads.openwrt.org/releases/24.10.5/targets/ramips/mt7621/openwrt-imagebuilder-24.10.5-ramips-mt7621.Linux-x86_64.tar.zst
        tar --zstd -xf openwrt-imagebuilder-24.10.5-ramips-mt7621.Linux-x86_64.tar.zst

    - name: Copy IPK to Image Builder
      run: |
        cp openwrt-sdk-24.10.5-ramips-mt7621*/bin/packages/*/*/*.ipk \
        openwrt-imagebuilder-24.10.5-ramips-mt7621.Linux-x86_64/packages/

    - name: Build Firmware
      run: |
        cd openwrt-imagebuilder-24.10.5-ramips-mt7621.Linux-x86_64
        make image PROFILE="xiaomi_mi-router-4a-gigabit" \
        PACKAGES="luci luci-ssl awg-openwrt"

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-xiaomi4a-full
        path: openwrt-imagebuilder-24.10.5-ramips-mt7621.Linux-x86_64/bin/targets/ramips/mt7621/*.bin
