name: Build OpenWrt MT7621

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev \
        python3-distutils rsync unzip zlib1g-dev file wget

    - name: Clone OpenWrt 24.10.5
      run: |
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        git checkout v24.10.5

    - name: Update feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Add AWG package
      run: |
        git clone https://github.com/Slava-Shchipunov/awg-openwrt.git
        mv awg-openwrt openwrt/package/awg-openwrt

    - name: Configure build
      run: |
        cd openwrt
        make defconfig
        
        echo "CONFIG_TARGET_ramips=y" >> .config
        echo "CONFIG_TARGET_ramips_mt7621=y" >> .config
        echo "CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-4a-gigabit=y" >> .config
        
        echo "CONFIG_PACKAGE_luci=y" >> .config
        echo "CONFIG_PACKAGE_awk=y" >> .config
        
        make defconfig

    - name: Download packages
      run: |
        cd openwrt
        make download -j8

    - name: Build firmware
      run: |
        cd openwrt
        make -j$(nproc)

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-mt7621
        path: openwrt/bin/targets/
